
.container-baner {
 display: block;
 width: 950px; /* Ширина макета */
 margin: 0 auto; /* Выравнивание по центру */
 }
h1 { color: #000000;
 border: 2px dashed maroon;
 }
#main {
 display: block;
 background-color:yellow; /*comment*/
 }
.menu-container {
display: block;
background-color:red; 
text-align: centr;
}
.menu li {

 display:inline;
margin-bottom: 30px;
position: relative;
text-align: centr;
margin-left: 100px;
margin-right: 50px;
float:none;

} 
 
 
body {
     display: block;
    font: 0.8em Arial, Helvetica, sans-serif; /* Шрифт на веб-странице */
    background: #D7E1F2; /* Цвет фона */
    color: #ffe; /* Цвет текста */
   }
   a { color: #008BCE; /* Цвет ссылок */ }
#container {
    display: block;
    width: 450px; /* Ширина макета */
    margin: 0 auto; /* Выравниваем по центру */
    background: #FCE600; /* Цвет колонок */
   }
#header { 
     display: block;
    font-size: 2.2em; /* Размер текста */
    text-align: center; /* Выравнивание по центру */
    padding: 5px; /* Отступы вокруг текста */
    background: #D71920; /* Цвет фона шапки */
   }
#nav, {
    display: block;
    float: left; width: 110px; padding: 5px;
   }
.container-t1 {
    display: block;
    background: #54B948;
    margin-right: 40%;
     /* Ширина колонок */
    float: left;
    margin-left: 10%;
    padding: 10px;
    border: 1px solid black
   }
.container-t2 {
    display: block;
    background: #94d468;
    margin-right: 15%;
     /* Ширина колонок */
    float: left;
    margin-left: 15%;
    padding: 10px;
    
   }
.container-t2 h1{
    color: #3a376e;
    border: none;
}
.table {
   
    background-color: #e8e8e8;
    color: #000000;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: #000000;
}
.text {
display: block;
background: #777;

}
.container-media {
    display: block;
    background-color: #58c9e7;
    position: absolute;
    margin-left: 60%;
    
    border: 1px solid black;
        
}
   
h2 { margin: 0 0 1em; }

.form-sign {
    display: block;
    float: left;
    background-color: #302f2f;
    position: absolute;
    padding: 10px;
    border: 1px;
}
.form-sign h3{
    text-align: center;
}
.form-sign a{
    color: #f4dddd;
    font-size: smaller;

}
#sign-in {
    display: block;
    float: left;
}
   #footer { 
    clear: both; /* Отменяем действие float */
    padding: 5px; /* Отступы вокруг текста */
    background: #bc5959; /* Цвет фона подвала */
    
    margin-top: -130px;
    height: 130px;
    overflow: auto;
    clear: both;

   } 
#footer .align-container {
height: 115px;
padding-top: 15px;
}

.align-container {
margin: 0 auto;
width: 1000px;
height: 100%;
overflow: hidden;
position: relative;
}
#payment-partner {
float: left;
width: 160px;
margin-right: 20px;
display: block;
}

#copyright {
width: 170px;
border-right: 1px solid #D8D5D5;
}

#copyright, #paysystems {
float: left;
padding-top: 15px;
height: 85px;
overflow: hidden;
}

#paysystems {
padding-left: 20px;
border-left: 1px solid white;
}

#paysystems ul {
float: left;
width: 560px;
overflow: hidden;

}

#payment-partner a {
display: block;
width: 62px;
height: 18px;
text-indent: -999px;
background: url('img/pay-partner.png') left top no-repeat;
}
#paysystems ul li {
 
display: block;
float: left;
margin-right: 20px;
margin-bottom: 10px;
}

#paysystems #pay-yandex a {
color: #ffcbad;
display: block;
padding-left: 35px;
width: 126px;
height: 32px;
background: url('img/paysystems.png') 0px 0px no-repeat;
}
#paysystems #pay-mastercard a {
color: #ffe;
display: block;
padding-left: 35px;
width: 126px;
height: 32px;
background: url('img/paysystems.png') 0px -32px no-repeat;
}
#paysystems #pay-qiwi a {
color: #ffe;
display: block;
padding-left: 35px;
width: 126px;
height: 32px;
background: url('img/paysystems.png') 0px -64px no-repeat;
}
#paysystems #pay-webmoney a {
color: #ffe;
display: block;
padding-left: 35px;
width: 126px;
height: 32px;
background: url('img/paysystems.png') 0px -96px no-repeat;
}
#paysystems #pay-visa a {
color: #ffe;
display: block;
padding-left: 35px;
width: 126px;
height: 32px;
background: url('img/paysystems.png') 0px -128px no-repeat;
}
#paysystems #pay-evroset a {
color: #ffe;
display: block;
padding-left: 35px;
width: 126px;
height: 32px;
background: url('img/paysystems.png') 0px -160px no-repeat;
}

h2 { color:#000000;
padding-left:6%;
}
.feature {border: 1.5px dashed maroon;

background-color: #DAA520;
}
/* Вот отсюда комменты для кривого меню */      
   
      
   
   
   
