
.container-baner {
 display: block;
 width: 950px; /* Ширина макета */
 margin: 0 auto; /* Выравнивание по центру */
 }
h1 { color: #000000;
 border: 2px dashed maroon;
 }
#main {
 display: block;
 background-color:yellow; /*comment*/
 }
.menu-container {
display: block;
background-color:red; 
text-align: centr;
}
.menu li {

 display:inline;
margin-bottom: 30px;
position: relative;
text-align: centr;
margin-left: 100px;
margin-right: 50px;
float:none;

} 
 
 
body {
     display: block;
    font: 0.8em Arial, Helvetica, sans-serif; /* Шрифт на веб-странице */
    background: #D7E1F2; /* Цвет фона */
    color: #ffe; /* Цвет текста */
   }
   a { color: #008BCE; /* Цвет ссылок */ }
#container {
    display: block;
    width: 450px; /* Ширина макета */
    margin: 0 auto; /* Выравниваем по центру */
    background: #FCE600; /* Цвет колонок */
   }
#header { 
     display: block;
    font-size: 2.2em; /* Размер текста */
    text-align: center; /* Выравнивание по центру */
    padding: 5px; /* Отступы вокруг текста */
    background: #D71920; /* Цвет фона шапки */
   }
#nav, {
    display: block;
    float: left; width: 110px; padding: 5px;
   }
.container-t1 {
    display: block;
    background: #54B948;
    margin-right: 50%;
     /* Ширина колонок */
    float: left;

    padding: 10px;
    border: 1px solid black
   }
.container-media {
    display: block;
    background-color: #58c9e7;
    position: absolute;
    margin-left: 60%;
    
    border: 1px solid black;
        
}
   
h2 { margin: 0 0 1em; }

   #footer { 
    clear: both; /* Отменяем действие float */
    padding: 5px; /* Отступы вокруг текста */
    background: #D71920; /* Цвет фона подвала */
    littlesms.rumedia="screen"
    margin-top: -130px;
    height: 130px;
    overflow: auto;
    clear: both;

   } 
#footer .align-container {
height: 115px;
padding-top: 15px;
}

.align-container {
margin: 0 auto;
width: 900px;
height: 100%;
overflow: hidden;
position: relative;
}

#copyright {
width: 170px;
border-right: 1px solid #D8D5D5;
}

#copyright, #paysystems {
float: left;
padding-top: 15px;
height: 85px;
overflow: hidden;
}

#paysystems {
padding-left: 20px;
border-left: 1px solid white;
}

#copyright, #paysystems {
float: left;
padding-top: 15px;
height: 85px;
overflow: hidden;
}

h2 { color:#000000;
padding-left:6%;
}
.feature {border: 1.5px dashed maroon;

background-color: #DAA520;
}
/* Вот отсюда комменты для кривого меню */      
   
      
   
   
   